@font-face {
  font-family: "neue";
  src: url(Fonts/UniNeue/UniNeue/TTF/UniNeue-Light.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "neue";
  src: url(Fonts/UniNeue/UniNeue/TTF/UniNeue-HeavyItalic.ttf);
  font-style: italic;
  font-weight: 600;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: neue, sans-serif;
}

div.container {
  display: grid;
  grid-template-areas:
    "header header"
    "content content";
}

header.container-header {
  line-height: 40px;
  display: grid;
  grid-area: header;
  background-color: black;
  background-image: url(image/komputer.jpg);
  background-blend-mode: luminosity;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 17rem 0;
  color: white;
}

main.container-main {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-template-areas:
    "data data"
    "bio bio";
  /* justify-items: center;
  align-items: center; */
}

div.container-isi-header {
  margin-left: 60px;
}

h1.judul-header {
  font-family: neue, sans-serif;
  font-style: italic;
  font-weight: 600;
}

a.btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0em 3.25em;
  border: 1px solid white;
  border-radius: 27px;
  transition: 400ms;
}

a.btn:hover {
  color: black;
  border: 1px solid black;
  background-color: white;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}

.section-data {
  grid-area: data;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px;
  grid-template-areas: "subscriber views";
  justify-items: center;
  align-items: center;
}

div.section-subscribers {
  grid-area: subscriber;
  text-align: center;
}

div.section-views {
  text-align: center;
  grid-area: views;
}

div.section-views img {
  width: 220px;
}

section.biography {
  grid-area: bio;
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 10rem;
}

section.biography .btn-subscribe {
  padding: 0.2em 2.25em;
}

@media all and (max-width: 1000px) {
  section.biography {
    padding: 10rem 5rem;
  }

  header.container-header {
    background-size: 200%;
    background-position: center center;
  }

  div.container-isi-header {
    background: rgba(0, 0, 0, 0.7);
    width: 450px;
  }
}

@media all and (max-width: 840px) {
  section.biography {
    /* padding: ; */
    margin: auto;
    /* width: 100%; */
  }
  section.biography h3,
  section.biography p {
    display: none;
  }

  section.biography a {
    padding: 0.5em 3.25em;
  }
}

@media all and (max-width: 540px) {
  .section-data {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 350px);
    grid-template-areas:
      "subscriber"
      "views";
    justify-items: center;
    align-items: center;
  }
}

@media all and (max-width: 505px) {
  div.container-isi-header {
    margin-left: 0;
  }
  header.container-header {
    /* background-image: none; */
    background-size: 400%;
  }
}

@media all and (max-width: 450px) {
  div.container-isi-header {
    margin: 10px;
  }

  div.container-isi-header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  header.container-header {
    /* background-image: none; */
    background-size: 450%;
  }

  section.biography {
    padding: 0;
    margin: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .section-data {
    grid-template-columns: repeat(1, 1fr);
  }

  section.biography a {
    color: black;
    border: 1px solid black;
  }
}
